/* styles.css */

.body1 {
font-family: 'Times New Roman', Times, serif;
color: dimgrey;
background-color: ghostwhite;
font-size: 30px;
}

.bodytitles {
    text-align: center;
}

#body1img1 {
    text-align: center;
}

.titles
{
    text-align: center;
}